{% extends layout %}
{% block content %}
	
	{% include "blocks/subnav.html" %}
	
	<section class="c-hero" style="background-image: url({{ 'registration-bg.jpg' | img_asset }})">
		<div class="l-container">
			<p class="c-registration__title">Решения</p>
			<p class="c-registration__text">
				Партнерские решения и мастер-классы
			</p>
		</div>
		{% include "blocks/nav-anchors.html" %}
	</section>

	<div class="c-cases">
		<div class="l-container">
			{%- for item in index.partners %}
			<div class="c-cases__item" id="{{ item.id }}" data-aos="fade-left">

				<div class="c-cases__col c-cases__col--left">
					<p class="c-cases__title">
						{{ item.title | safe }}
					</p>
					<p class="c-cases__text">
						{{ item.text | safe }}
					</p>
					<a class="c-cases__link" href="#">
						<span class="c-cases__link-text">
							Заказать
						</span>
					</a>
				</div>

				<div class="c-cases__col c-cases__col--right">
					<div class="c-cases__img" style="background-image: url({{ item.img | img_asset }})"></div>
				</div>

			</div>
			{%- endfor %}
		</div>
	</div>

{% endblock %}