{% extends layout %}
{% block content %}

	{% include "blocks/subnav.html" %}
	
	<section class="c-hero" style="background-image: url({{ 'registration-bg.jpg' | img_asset }})">
		<div class="l-container">
			<p class="c-registration__title" style="text-align: left">Материалы</p>
			<p class="c-registration__text" style="text-align: left">
				Полезные материалы и&nbsp;документы <br>по&nbsp;кибербезопасности
			</p>
		</div>
		{% include "blocks/nav-anchors.html" %}
	</section>

	<section class="c-materials">
		<div class="l-container">
			<ul class="c-materials__list">
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-DIGTRNS-CNTNT-FY18-09Sep-14-Yourpathtofulfillment-MGC0001088_01Registration-ForminBody.html" target="_blank">
						Ваш путь к&nbsp;выполнению &laquo;Общих норм защиты данных&raquo; (GDPR). С&nbsp;Microsoft Cloud выполнять требования GDPR быстрее и&nbsp;проще
					</a>
				</li>
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-SCRTY-CNTNT-FY18-09Sep-15-Opportunitiesforpartnersinconnection-MGC0001085_01Registration-ForminBody.html" target="_blank">
						Возможности для партнеров в&nbsp;связи с&nbsp;принятием нового закона &laquo;Общие нормы защиты данных&raquo; (GDRP)
					</a>
				</li>
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-SCRTY-CNTNT-FY18-09Sep-15-Fivequestionsthatmanagersshouldasktheirsecurity-MGC0001083_01Registration-ForminBody.html" target="_blank">
						Пять вопросов, которые руководители должны задать своим отделам безопасности
					</a>
				</li>
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-SCRTY-CNTNT-FY18-09Sep-15-SoftwareAssetManagement-MGC0001084_01Registration-ForminBody.html" target="_blank">
						Software Asset Management: необходимая защита для бизнеса
					</a>
				</li>
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-SCRTY-CNTNT-FY18-09Sep-15-GlobalCybersecurityTrendsTen-MGC0001086_01Registration-ForminBody.html" target="_blank">
						Глобальные тенденции кибербезопасности. Десять важнейших идей из&nbsp;отчета службы безопасности Microsoft
					</a>
				</li>
				<li class="c-materials__item">
					<a class="c-materials__link" href="https://info.microsoft.com/CE-SCRTY-CNTNT-FY18-09Sep-15-IntellectualSecurity-MGC0001087_01Registration.html" target="_blank">
						Интеллектуальная безопасность: использование машинного обучения для обнаружения современных кибератак
					</a>
				</li>
			</ul>
		</div>
	</section>

{% endblock %}