{% extends layout %}
{% block content %}

	{% include "blocks/subnav.html" %}
	
	<section class="c-registration">
		<div class="l-container">
			<p class="c-registration__title">You Trust IT</p>
			<p class="c-registration__text">
				Путь к&nbsp;безопасности бизнеса <br>
				27 сентября 2017
			</p>
		</div>
	</section>
	
	<section class="c-speakers">
		<div class="l-container">
			<h2 class="c-title c-title--def">Трансляция</h2>
			<script src="https://broadcast.comdi.com/player/js/embed.min.js" type="text/javascript" data-comdi-event="elzvenrp"></script>
		</div>
	</section>

{% endblock %}