<div class="c-hero__desc-wrapper">
	<div class="c-hero__desc">
		<div class="l-container">
			<div class="c-hero__desc-inner l-flex l-flex--between">
				<div class="c-hero__anchors-wrapper">
					<button class="c-hero__anchors-burger">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<ul class="c-hero__anchors-list">
						<li class="c-hero__anchors-item">
							<a class="c-hero__anchors-link" href="/#anchor-about">
								<span class="c-hero__anchors-text">О&nbsp;мероприятии</span>
							</a>
						</li>
						<li class="c-hero__anchors-item">
							<a class="c-hero__anchors-link" href="/#anchor-programm">
								<span class="c-hero__anchors-text">Программа</span>
							</a>
						</li>
						<!-- <li class="c-hero__anchors-item">
							<a class="c-hero__anchors-link" href="../#anchor-partners">
								<span class="c-hero__anchors-text">Партнеры</span>
							</a>
						</li> -->
						<li class="c-hero__anchors-item">
							<a class="c-hero__anchors-link" href="/#anchor-speakers">
								<span class="c-hero__anchors-text">Спикеры</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="c-hero__btn-wrapper">
					<a class="c-btn" href="/player">
						<span class="c-btn__text">Смотреть в&nbsp;записи</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>