.c-hero {
	position: relative;
	padding: 55px 0 146px;
	
	@media screen and (max-width: @screen-lg) {
		padding: 40px 0 150px;
	}

	&__title {
		.fz(100, 110);
		font-weight: 100;
		letter-spacing: -.015em;
		color: #fff;
	}

	&__subtitle {
		padding-left: 20px;
		.fz(24, 36);
		font-weight: 300;
		letter-spacing: .01em;
		color: #fff;

		&--top {
			margin-bottom: round(25/24em, 3);
		}
		
		&--middle {
			margin-bottom: round(58/24em, 3);
		}

		&--upper {
			text-transform: uppercase;
			letter-spacing: .11em;
		}

		@media screen and (max-width: @screen-md) {
			.fz(20, 24);
		}
	}

	&__desc {
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		padding: 16px 0;
		background-color: rgba(3, 33, 62, 0.62);

		&.sticky {
			position: fixed;
			top: 0;
			bottom: auto;
		}
		.c-btn {
			@media screen and (max-width: @screen-lg) {
				/* margin-left: 19px; */
			}
		}
	}

	&__btn-wrapper {
		display: flex;

		.c-btn {
			margin: auto;
		}
	}

	&__anchors {
		
		&-list {
			display: flex;
		}

		&-item {
			transform: skew(-35deg);

			&:last-child .c-hero__anchors-link {
				border-right: 0;
			}
		}

		&-link {
			position: relative;
			display: block;
			padding: 10px 35px 10px 21px;
			border: 2px solid transparent;
			border-right-color: #4ec6f8;
			.fz(21, 30);
			font-weight: 300;
			letter-spacing: .005em;
			color: #fff;
			text-decoration: none;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 2px;
				background-color: #4ec6f8;
				transition: width .3s;
			}

			&:hover {

				&::after {
					width: 80%;
				}
			}
		}

		&-text {
			display: inline-block;
			transform: skew(35deg);
		}
	}
}