.c-themes {
	position: relative;
	z-index: 2;
	background-color: rgba(230, 230, 230, 0.2);
	
	&__inner {
		position: relative;
		padding-top: 82px;
		padding-bottom: 65px;

		@media screen and (max-width: @screen-md) {
			padding-top: 60px;
		}
	}
	
	&__item {

		&--mb {
			margin-bottom: 60px;
		}
	}

	&__subtitle {
		margin-bottom: round(45/30em, 3);
		text-align: center;
		.fz(30, 40);
		font-weight: 100;
		letter-spacing: .01em;
		color: #231f20;

		@media screen and (max-width: @screen-sm) {
			.fz(24, 28);
		} 

		@media screen and (max-width: @screen-xs) {
			.fz(20, 24);
		}
	}

	&__text {
		margin-bottom: round(15/18em, 3);
		.fz(18, 26);
		font-weight: 100;
		letter-spacing: .01em;
		color: #231f20;
		
		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: @screen-xs) {
			.fz(16, 20);
		}
	}

	&__item {
		position: relative;
		z-index: 1;
		text-align: center;
	
		@media screen and (max-width: @screen-md) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 50px;
		}

		&--pt {
			padding-top: 53px;

			@media screen and (max-width: @screen-md) {
				padding-top: 0;
			}
		}
	}
	
	&__point {
		margin-bottom: round(15/24em, 3);
		.fz(30, 34);
		font-weight: 100;
		letter-spacing: .01em;
		color: #005c9c;
		
		@media screen and (max-width: @screen-md) {
			order: 2;
		}

		@media screen and (max-width: @screen-sm) {
			.fz(20, 26);
		}

		&-text {
			.fz(18, 24);
			font-weight: 100;
			letter-spacing: .01em;
			color: #005c9c;

			@media screen and (max-width: @screen-md) {
				order: 3;
			}
		}
	} 

	&__icon {
		display: inline-block;
		width: 123px;
		height: 123px;
		margin-top: 40px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center;
		border: 2px solid #005794;
		border-radius: 50%;

		@media screen and (max-width: @screen-md) {
			order: 1;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	&__circle {
		position: absolute;
		top: 80%;
		left: -20%;
		width: 140%;
		height: 100%;
		border: 2px solid #005794;
		border-radius: 50%;
		
		@media screen and (max-width: @screen-md) {
			display: none;
		}

		&-wrapper {
			overflow: hidden;
		}
	}

	&__btn {
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
	}
}